<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.body %></td>
    <td><%= link_to 'Show', [article.video, article] %></td>
    <td><%= link_to 'Edit', edit_video_article_path(article.video, article) %></td>
    <td><%= link_to 'Destroy', [article.video, article], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_video_article_path(params[:video_id]) %>
