<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Body:</b>
  <%= @article.body %>
</p>


<%= link_to 'Edit this', edit_video_article_path(@article.video, @article), :style => "color: white; font-style: italic;" %>
<br>
<%= link_to 'See all thoughts', video_articles_path(@article.video), :style => "color: white; font-style: italic;" %>
