<p id="notice"><%= notice %></p>

<div class="transparent-show-div">

  <p style="font-size:30px">
    <%= @video.artist %>
  </p>

  <p style="font-size:24px">
    <%= @video.song %>
  </p>

  <p>
    <strong></strong>
    <a href="<%= @video.vid_url %>"><img class="show-image" src="<%= @video.pic_url %>" alt="<%= @video.song %>"></a>
  </p>

  <p>
    <strong>Click the Pic!</strong>
    <%= %>
  </p>

</div>

<iframe width="300" height="300" src="https://www.youtube.com/embed/QtXby3twMmI" frameborder="0" allowfullscreen></iframe>

<p>
  <strong>Lyrics:</strong>
  <%= @video.lyrics %>
</p>

<div class="">
  <% @vid.articles.each do |art| %>
  <%= art.title %>
  <%= art.body %>
  <% end %>
</div>

<br>
<br>
<%= link_to 'Edit This Video', edit_video_path(@video) %> |
<%= link_to 'Back to Videos', videos_path %>
