<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <%= @video.artist %>
</p>

<p>
  <strong></strong>
  <%= @video.song %>
</p>

<p>
  <strong>click the pic to play in youtube</strong>
  <a href="<%= @video.vid_url %>"><img src="<%= @video.pic_url %>" alt="<%= @video.song %>"></a>
</p>

<p>
  <strong>VIDEO URL: </strong>
  <%= @video.vid_url %>
</p>

<iframe width="300" height="300" src="https://www.youtube.com/embed/QtXby3twMmI" frameborder="0" allowfullscreen></iframe>

<p>
  <strong>Lyrics:</strong>
  <%= @video.lyrics %>
</p>

<div class="">
  <% @vid.articles.each do |art| %>
  <%= art.title %>
  <%= art.body %>
  <% end %>
</div>

<br>
<br>
<%= link_to 'Edit This Video', edit_video_path(@video) %> |
<%= link_to 'Back to Videos', videos_path %>
