<!DOCTYPE html>
<html>
  <head>
    <title>Justplay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>

    <footer>
    <%= link_to 'BACK TO VIDEOS PAGE', videos_path, :class => "backtovideos" %>
    </footer>

  </body>
</html>
